<link rel="stylesheet" href="style.css">
<section class = "container-artigos">
    <article>
        <ul>
            <h2>
                CRIMINAL        
            </h2>
            <h3>
                CASES
            </h3>
            <h3>
                <a href = criminal.html>CRIMINALS</a>
            </h3>
        </ul>
    </article>
    <article>
        <ul>
            <h2>
                INCIDENTS
            </h2>
            <h3>
                 ONGOING INCIDENTS
            </h3>
        </ul>
    </article>
    <article>
        <ul>
            <h2>
                REPORTS
            </h2>
            <h3>
                REPORT INCIDENT
            </h3>
            <h3>
                REPORTED INCIDENTS
            </h3> 
        </ul>
    </article>
    <article>
        <ul>
            <h2>
                OFFICERS
            </h2>
            <h3>
                INFORMATION
            </h3>
        </ul>
    </article>
</section>