
/*------------|REMOVER MARCADORES(PONTINHOS) DA UL (LISTA NÃO ORDENADA)|--------------*/
ul
{
    list-style-type:none;
}

/*------------|COR DA HEADER(TÍTULOS) DE TODAS AS PÁGINAS|----------------------------*/
body>header
{
    color: rgb(248, 5, 5);
}

/*------------|CASES|-----------------------------------------------------------------*/

/*------------|DIV CLASS "recentes"|--------------------------------------------------*/
.recentes
{
    border-style:solid;
    padding: 10px;
    padding-top: 5px;
    box-sizing: border-box;
    flex: 3;

}
.recent_cases
{
    display: flex;
    align-items: flex-start;
    border-style: solid;
    flex-direction: column;
}

.imagens_cases img
{
    max-width: 100%;
    height: auto;  
    object-fit: contain;
}
.description_cases
{
    padding: 5px;
    width: auto;
}

/*------------|DIV CLASS "emInvestigacao"|--------------------------------------------------*/
.emInvestigacao
{
    border-style: solid;
    padding-left:10px;
    padding-right: 10px;
    align-items: center;
    box-sizing: border-box;
    flex: 1;
}
.emInvestigacao > ul
{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    padding-left: 20px;
}

/*------------|MAIN CLASS "container-topicos"|--------------------------------------------------*/
.container-topicos
{   
    color:rgb(240, 13, 13) ;
    display:flex;
    gap: 10px;
    align-items: stretch;

}

/*------------|PERMITE QUE AS DIVS FIQUEM EMBAIXO DA OUTRA CASO A TELA NÃO TENHA ESPAÇO SUFICIENTE|--*/
@media (max-width: 900px) {
    .container-topicos {
        flex-direction: column;
    }

    .recentes,.emInvestigacao
    .box-menor {
        width: 100%;
        flex: none;
    }
}

/*------------|REGRAS ESPECIAIS PARA MANTER O TÍTULO DENTRO DA BORDA|---------------------------------*/
.container-sections>header
{
    color: rgb(247, 6, 6);
    width: 100%;
    flex-basis: 100%;
    display: block;
}
.container-sections
{
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row; 
    display: inline-block;
    border-style: solid;
    border-color: white;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin: 40px; 
}

/*------------|BACKGROUND DAS PÁGINAS|--------------------------------------------------*/
body
{
    background-image: url('IMAGENS/GCPD_1.webp');
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    margin: 0;
    padding: 10px;
}

/*------------|RODAPÉ DAS PÁGINAS|----------------------------------------------------*/
footer
{
    color: red;
    font-size: 20px;
}

/*------------|ESTILO DOS LINKS DAS PÁGINAS|-------------------------------------------*/
a
{
    color: red;
    text-decoration: none;
}
a:hover
{
    color:rgb(0, 0, 0);
}

/*------------|ESTILO DAS LI(LISTAS) DAS PÁGINAS|---------------------------------------*/
li
{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    padding: 4px;

}

/*------------|BOTÃO E BARRA DE PESQUISA DE CASES|--------------------------------------*/

.search-container form {
    position: relative; /* Define o contêiner como relativo para posicionar o botão absolutamente */
    display: flex;
    align-items: center;
    margin:40px;
}
.search-input {
    padding: 10px 40px 10px 15px; /* Adiciona padding à direita para evitar que o texto fique por baixo do ícone */
    font-size: 24px;
    border: 4px solid #fdfdfd;
    outline: none;
    width: 300px;
    transition: border-color 0.3s;
}
.search-input:focus {
    border-color: #f50404; /* Muda a cor da borda ao clicar */
}
.search-button {
    right: 5px; /* Ajusta a posição à direita */
    background: none;
    border-style: solid;
    border-color: #f50404;
    cursor: pointer;
}
#lupa
{
    width: 47px;  /* Ajuste este valor para o tamanho desejado (ex: 16px, 24px) */
    height: auto; /* Mantém a proporção original da imagem */
}
.search-button:hover {
    color: #f70505;
}