ul
{
    list-style-type:none;
}
body
{
    background-color:rgb(153, 227, 246);
    
}
body>header
{
    color: rgb(248, 5, 5);
}
.container-artigos
{   
    color:rgb(240, 13, 13) ;
    display:flex;
    flex-direction:row;
}
.container-sections>header
{
    color: rgb(247, 6, 6);
    width: 100%;
    flex-basis: 100%;
    display: block;
}
.container-sections
{
    
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row; 
    display: flex;
    border-style: solid;
    border-color: white;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width: fit-content;
}
body
{
    background-image: url('IMAGENS/GCPD_1.webp');
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    margin: 0;
    padding: 0;
    
}
footer
{
    color:rgb(236, 7, 7)
}
h1
{
    padding: 20px;
}
footer
{
    color: red;
    font-size: 20px;
}
a
{
    color: red;
    text-decoration: none;
}
a:hover
{
    color:blue;
}