ul
{
    list-style-type:none;
}
body>header
{
    color: rgb(248, 5, 5);
}
.recentes
{
    border-style:solid;
    padding: 10px;
    padding-top: 5px;
    width: 80%;
    margin: 5px;
    
}
.recent_cases
{
    border-style: solid;
    display: flex;
    flex-direction: row;
    padding-left: 5px;
}

.imagens_cases img
{
    max-width: 100%;  
    height: auto;     
}
.description_cases
{
    padding: 5px;
    width: auto;
}

.container-topicos
{   
    color:rgb(240, 13, 13) ;
    display:flex;
    flex-wrap: wrap;
}
.container-sections>header
{
    color: rgb(247, 6, 6);
    width: 100%;
    flex-basis: 100%;
    display: block;
}
.container-sections
{
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row; 
    display: inline-block;
    border-style: solid;
    border-color: white;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin: 40px; 
}
body
{
    background-image: url('IMAGENS/GCPD_1.webp');
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    margin: 0;
    padding: 10px;
}
footer
{
    color: red;
    font-size: 20px;
}
a
{
    color: red;
    text-decoration: none;
}
a:hover
{
    color:rgb(0, 0, 0);
}
li
{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    padding: 4px;
}
.emInvestigacao
{
    border-style: solid;
    padding-left:10px;
    padding-right: 10px;
    align-items: center;
    margin: 5px;
}
.search-container form {
    position: relative; /* Define o contêiner como relativo para posicionar o botão absolutamente */
    display: flex;
    align-items: center;
    margin:40px;
}
.search-input {
    padding: 10px 40px 10px 15px; /* Adiciona padding à direita para evitar que o texto fique por baixo do ícone */
    font-size: 24px;
    border: 4px solid #fdfdfd;
    outline: none;
    width: 300px;
    transition: border-color 0.3s;
}
.search-input:focus {
    border-color: #f50404; /* Muda a cor da borda ao clicar */
}
.search-button {
    right: 5px; /* Ajusta a posição à direita */
    background: none;
    border-style: solid;
    border-color: #f50404;
    cursor: pointer;
}
#lupa
{
    width: 47px;  /* Ajuste este valor para o tamanho desejado (ex: 16px, 24px) */
    height: auto; /* Mantém a proporção original da imagem */
}
.search-button:hover {
    color: #f70505;
}