
.container-sections
{
    flex-wrap: wrap;
    display: flex;
    white-space: nowrap;
    border-style: solid;
    border: 2px solid black;
    padding: 10px;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.6);
    border-color: white;
}

/*MANTENDO O HEARDER DENTRO DE SECTIONS, MAS ACIMA, E NÃO AO LADO DOS DEMAIS*/
.container-sections>header
{
    width: 100%;
    flex-basis: 100%;
    display: block;
}

/*REMOVER MARCADORES DA LISTA*/
ul
{
    list-style-type:none;
}

/*COR DE FUNDO DA PÁGINA*/
body
{
    background-image: url('../IMAGENS/GCPD_1.webp');
    background-size: cover;
    background-position: center;
    padding: 10px;
    
}

/*COR DO HEARDER (TÍTULO) PRINCIPAL*/
body>header
{
    color: red;
}

/*TAMANHO DA IMAGEM*/
img
{
    width: 600px;
    max-width: 100%;
    height: auto;
   
}
h2
{
    color: red;
}
footer
{
    color: red;
    font-size: 20px;
}

/*COR, TAMANHO, DISPOSIÇÃO DO TEXTO E ESTILO DA DIV E LISTA DAS PÁGINAS*/
.data_list1
{
    display: flex;
    color:red;
    flex-direction:column;
    flex-wrap: nowrap;
}
.data_list2
{
    display: flex;
    color:red;
    flex-direction:column;
    flex-wrap: nowrap;
}
li
{
    flex-wrap: nowrap;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    padding: 4px;
    font-size: clamp(16px, 2.2vw, 22px);
}