/*COR, BORDA, DISPOSIÇÃO DO TEXTO E ESTILO DAS SESSÕES DOS ARTIGOS
ATUAIS*/
.container-artigos
{
    display: flex;
    color:red;
    font-size: 20px;
    gap: 20px;
}
.container-sections
{
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row; 
    display: flex;
    border-style: solid;
    border: 2px solid black;
    padding: 20px;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.6);
    border-color: white;
}

/*MANTENDO O HEARDER DENTRO DE SECTIONS, MAS ACIMA, E NÃO AO LADO DOS DEMAIS*/
.container-sections>header
{
    padding: 10px;
    width: 100%;
    flex-basis: 100%;
    display: block;
}

/*REMOVER MARCADORES DA LISTA*/
ul
{
    list-style-type:none;
}

/*PERMITIR QUE UM ARTIGO FIQUE AO LADO DO OUTRO*/
.container-artigos
{   
    display: flex;
    
}

/*COR DE FUNDO DA PÁGINA*/
body
{
    background-image: url('/IMAGENS/GCPD_1.webp');
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    margin: 0;
    padding: 40px;
    
}

/*COR DO HEARDER (TÍTULO) PRINCIPAL - NESTE CASO: HARLEY QUINN*/
body>header
{
    color: red;
}

/*TAMANHO DA IMAGEM*/
img
{
    width: 530px;
    max-width: 100%;
    height: auto;
   
}
h2
{
    color: red;
}
footer
{
    color: red;
    font-size: 20px;
}
