body
{
    background-image: url('../IMAGENS/GCPD_1.webp');
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    margin: 0;
    padding: 10px;
}
footer
{
    color: red;
    font-size: 20px;
}