body
{
    background-image: url('../IMAGENS/GCPD_1.webp');
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    margin: 0;
    padding: 10px;
}
footer
{
    color: red;
    font-size: 20px;
}
body>header
{
    color: rgb(248, 5, 5);
}
.recent_cases
{
    display: flex;
    align-items: flex-start;
    border-style: solid;
    border-radius: 20px;
    border-color: red;
    background-color: rgba(255, 255, 255, 0.6);
}
.description_cases
{
    padding: 20px;
    flex: 1;
    color: red;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}
